/* Codemirror Mustache tags to style like our tag-editor tags (sorta) */
.cm-mustache,
.cm-mustache-danger,
.cm-mustache-warn {
    color: #fff;
    background-color: #216EAB;
    border-radius: 3px;
}

.cm-mustache-danger {
    background-color: #d9534f;
}

.cm-mustache-warn {
    background-color: #e2a231;
}

/* Custom theme to be more friendly to non-developers */
.cm-s-cc {
    background: #FFFFFF;
    color: #424242;
    line-height: normal;
    font-family: 'Roboto Mono', Menlo, Monaco, Consolas, "Courier New", monospace !important;
    font-size: 13px;
    font-weight: normal;
}
.cm-s-cc .CodeMirror-gutters {
    background: #fff;
    color: #616161;
    border: none;
}
.cm-s-cc .CodeMirror-cursor { border-left: 1px solid #303030; }
.cm-s-cc .CodeMirror-guttermarker,
.cm-s-cc .CodeMirror-guttermarker-subtle,
.cm-s-cc .CodeMirror-linenumber { color: rgb(83,127,126); }
.cm-s-cc .CodeMirror-activeline-background { background: #b0bec5; }
.cm-s-cc .CodeMirror-selected { background: #b0bec5; }
.cm-s-cc .cm-comment { color: #616161; }
.cm-s-cc .cm-string { color: #009688; }
.cm-s-cc .cm-string-2 { color: #80CBC4; }
.cm-s-cc .cm-number { color: #7e57c2; }
.cm-s-cc .cm-atom { color: #7e57c2; }
.cm-s-cc .cm-keyword { color: #ff5722; }
.cm-s-cc .cm-variable { color: #009688; }
.cm-s-cc .cm-def { color: #FD971F; }
.cm-s-cc .cm-property { color: #0288d1; }
.cm-s-cc .cm-tag { color: #82B1FF; }
.cm-s-cc .cm-error { color: #EC5F67; }
.cm-s-cc .cm-meta { color: #80CBC4; }
.cm-s-cc .cm-operator { color: rgb(60, 73, 128); }
.cm-s-cc .cm-variable-2 { color: #80CBC4; }
.cm-s-cc .cm-variable-3 { color: #82B1FF; }
.cm-s-cc .cm-builtin { color: #DECB6B; }
.cm-s-cc .cm-attribute { color: #FFCB6B; }
.cm-s-cc .cm-qualifier { color: #DECB6B; }
.cm-s-cc .CodeMirror-matchingbracket { font-weight: bold; color: #1c75d1 !important; }
