/* API Payload - Buttons and nav */
#contactclient_api_payload_codemirror {
    margin-top: 42px;
}

.api_payload .CodeMirror,
#contactclient_api_payload_codemirror .CodeMirror {
    border: 0;
}

#api_payload_buttons {
    margin-bottom: -19px;
    position: relative;
    z-index: 2000;
    right: 0px;
    top: 0px;
    height: 30px;
    overflow: visible;
    -webkit-transition: right .1s ease-in-out;
    -moz-transition: right .1s ease-in-out;
    -ms-transition: right .1s ease-in-out;
    -o-transition: right .1s ease-in-out;
    transition: right .1s ease-in-out;
    -webkit-box-shadow: 0 0 10px 10px rgba(255, 255, 255, .5);
    box-shadow: 0 0 10px 10px rgba(255, 255, 255, .5);
}

#api_payload_buttons.affix {
    position: fixed;
    -webkit-transition: right .1s ease-in-out;
    -moz-transition: right .1s ease-in-out;
    -ms-transition: right .1s ease-in-out;
    -o-transition: right .1s ease-in-out;
    transition: right .1s ease-in-out;

    top: 14px;
    margin-right: 15px;
    -webkit-box-shadow: 0 0 10px 10px rgba(255, 255, 255, 1);
    box-shadow: 0 0 10px 10px rgba(255, 255, 255, 1);
}
