/* ContactClient Schedule */
#contactclient_schedule_hours_widget div h3 {
    padding-top: 20px;
}

#contactclient_schedule_hours_widget .dayContainer {
    min-width: 86px;
    min-height: 130px;
    font-weight: 600;
    line-height: 2em;
}

#contactclient_schedule_hours_widget .input-group-addon {
    padding: 6px;
}

#contactclient_schedule_hours_widget .operationTime .mini-time {
    width: 52px;
    padding-left: 7px;
    font-size: 13px;
}

#contactclient_schedule_hours_widget .colorBox {
    border: 0;
}

#contactclient_schedule_hours_widget .schedule-toggle.btn-success:before {
    font-family: FontAwesome, "Open Sans", Helvetica, Arial, sans-serif;
    content: "\f046 \00A0 \00A0 Open";
    /*font-size:1.3em;*/
    /*font-weight: lighter;*/
    font-size: 13px;
    padding-left: 4px;
}

#contactclient_schedule_hours_widget .schedule-toggle.btn-danger:before {
    font-family: FontAwesome, "Open Sans", Helvetica, Arial, sans-serif;
    content: "\f096 \00A0 \00A0 Closed";
    /*font-size:1.3em;*/
    /*font-weight: lighter;*/
    font-size: 13px;
    padding-left: 4px;
}
