/* Styles for the timeline view */
/* Campaign input */
form[name='contactclient_chart'] > div.input-group:nth-child(1) > span {
    border-bottom-left-radius: 0;
    border-bottom: 0;
}

form[name='contactclient_chart'] > div.input-group:nth-child(1) > div.chosen-container,
form[name='contactclient_chart'] > div.input-group:nth-child(1) > div.chosen-container .chosen-single {
    border-bottom-right-radius: 0;
    margin-right: 1px;
    border-bottom: 0;
}

form[name='contactclient_chart'] > div.input-group:nth-child(1) > div.chosen-container .chosen-drop {
    margin-right: 1px;
}

/* Type dropdown */
form[name='contactclient_chart'] > div.input-group:nth-child(2) > span {
    border-radius: 0;
    border-bottom: 0;
}

form[name='contactclient_chart'] > div.input-group:nth-child(2) > div.chosen-container,
form[name='contactclient_chart'] > div.input-group:nth-child(2) > div.chosen-container .chosen-single {
    border-radius: 0;
    margin-right: 1px;
    border-bottom: 0;
}

form[name='contactclient_chart'] > div.input-group:nth-child(2) > div.chosen-container .chosen-drop {
    margin-right: 1px;
}

/* Date selector */
form[name='contactclient_chart'] > div.input-group:nth-child(3) > span {
    border-top-left-radius: 0;
}

form[name='contactclient_chart'] > div.input-group:nth-child(3) > span.input-group-btn,
form[name='contactclient_chart'] > div.input-group:nth-child(3) > span.input-group-btn > button {
    border-top-right-radius: 0;
}

#transactions-table input.transaction-filter {
    min-width: 99%;
}