/* ContactClient Schedule API Payload widget */
#contactclient_api_payload_widget h3 {
    font-size: 16px;
    font-weight: 600;
    padding: 0 0 5px 0;
}
#contactclient_api_payload_widget i.fa {
    font-size: 15px;
}
/* Hide outermost wrapping (API Payload and Operations) for now. */
#contactclient_api_payload_widget > div > div > div > div > div > div > h3 > span,
#contactclient_api_payload_widget > div > h3 {
    display: none;
}
#contactclient_api_payload_widget .btn-group.btn-left {
    margin: 0 0 8px 0;
}
#contactclient_api_payload_widget .btn-group.btn-left .btn-success {
    border-radius: 3px;
}
#contactclient_api_payload_widget .btn-group.btn-right {
    position: absolute;
    right: 0;
    margin: 0;
    display: block;
    top: -7px
}
#contactclient_api_payload_widget > div > .well {
    min-height: 0;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
    border-radius: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* ContactClient Schedule widget */
#contactclient_schedule_hours_widget div h3 {
    padding-top: 20px;
}

#contactclient_schedule_hours_widget .dayContainer {
    width: 86px;
    height: 150px;
}

#contactclient_schedule_hours_widget .input-group-addon {
    padding: 6px;
}

#contactclient_schedule_hours_widget .operationTime .mini-time {
    width: 52px;
    padding-left: 7px;
    font-size: 13px;
}