/* ContactClient API Payload / Filter - QueryBuilder */
.query-builder .rules-group-container {
    padding: 0;
    margin: 0;
    background: transparent;
    border: 1px solid transparent;
}

.query-builder .rules-group-header {
    margin-bottom: 11px;
}

.query-builder .rule-container {
    border: 1px solid transparent;
    background-color: rgba(0, 0, 0, .04);
}

.query-builder .rule-value-container {
    border-left: 0;
    padding-left: 0;
}

.query-builder .rule-value-container input[type=number],
.query-builder .rule-value-container input[type=text],
.query-builder .rule-value-container select {
    padding: 6px 12px;
}

.query-builder .rule-value-container .selectize-input .item {
    display: inline-block;
    margin: -5px 7px -4px -7px;
    font-weight: 600;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #ffffff;
    background-color: #2a84c5;
    border-color: #2a84c5;
    padding: 3px 5px;
    font-size: 13px;
    line-height: 1.356;
    border-radius: 4px;
}

/* ContactClient API Payload - JSON Editor */
.contactclient_jsoneditor h3 {
    font-size: 16px;
    font-weight: 600;
    padding: 0 0 5px 0;
}

.contactclient_jsoneditor .btn-md i.fa {
    font-size: 15px;
}

.contactclient_jsoneditor i.fa-caret-right,
.contactclient_jsoneditor i.fa-caret-down {
    font-size: 20px;
}

.contactclient_jsoneditor i.fa-caret-square-o-right,
.contactclient_jsoneditor i.fa-caret-square-o-down {
    font-size: 16px;
}

.contactclient_jsoneditor .btn-group.btn-left {
    margin-bottom: 8px;
}

/* Hidden nav items in this group cause border radius to look strange */
.contactclient_jsoneditor .btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle),
.contactclient_jsoneditor .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle),
.contactclient_jsoneditor .btn-group.btn-left .btn {
    border-radius: 3px;
}

.contactclient_jsoneditor .btn-group.btn-right .btn {
    margin-left: 8px;
    border-radius: 3px;
}

.contactclient_jsoneditor .btn-group .btn-secondary {
    background: transparent;
}

.contactclient_jsoneditor .btn-group .btn-secondary.active {
    background: transparent;
}

/* Show the expandable headers as clickable */
.contactclient_jsoneditor > div > h3 span {
    cursor: pointer;
}

/* Hide the root definition as it'd be a duplicate label in this case. */
.contactclient_jsoneditor > div > h3 {
    display: none;
}

.contactclient_jsoneditor > div > .well {
    min-height: 0;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.contactclient_jsoneditor .well {
    background: rgba(145, 145, 145, .1);
    border: 1px solid rgba(45, 45, 45, .1);
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* Prevent faulty glyphicon load */
.contactclient_jsoneditor .glyphicon {
    font-family: "Courier New", monospace;
}

/* Positioning tooltips in tables */
.contactclient_jsoneditor td > div > .glyphicon-info-sign.pull-right {
    position: absolute !important;
    top: 50px;
    margin: 0 0 0 -16px;
    height: 0;
}

.contactclient_jsoneditor td > div > .glyphicon-info-sign.pull-right:before {
    opacity: 0;
    width: 60px;
}

/* Styling tooltips */
.contactclient_jsoneditor .glyphicon-info-sign.pull-right {
    float: none !important;
    margin-left: 5px;
}

.contactclient_jsoneditor .glyphicon-info-sign:before {
    content: "\f059";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.contactclient_jsoneditor .glyphicon-info-sign span {
    font-family: "Open Sans", Helvetica, Arial, sans-serif !important;
    z-index: 1000;
    transform: translateX(0.5rem) translateY(-0.5rem) !important;
}

/* Table styles */
.contactclient_jsoneditor table.table-bordered {
    min-width: 100%;
    border: 0;
}

.contactclient_jsoneditor table.table-bordered,
.contactclient_jsoneditor table.table-bordered > thead > tr > th,
.contactclient_jsoneditor table.table-bordered > tbody > tr > th,
.contactclient_jsoneditor table.table-bordered > tbody > tr > td,
.contactclient_jsoneditor table.table-bordered > tfoot > tr > td,
.contactclient_jsoneditor table.table-bordered > tfoot > tr > th {
    border-left: 0;
    border-right: 0;
    padding: 4px 4px;
}

.contactclient_jsoneditor table .form-group {
    margin-bottom: 0;
}

.contactclient_jsoneditor div[data-schemapath*=".response.format"] {
    max-width: 16.66666%;
}

.contactclient_jsoneditor div[data-schemapath*=".request.body"] > label {
    font-size: 16px;
    padding-bottom: 5px;
}

.contactclient_jsoneditor div[data-schemapath*=".request.body"] > select {
    font-size: 16px;
    font-style: normal !important;
    background-color: #fff !important;
}

.contactclient_jsoneditor div[data-schemapath^="root.mode"] > select {
    font-style: normal !important;
    background-color: #fff !important;
}

.contactclient_jsoneditor div[data-schemapath^="root.settings.autoUpdate"] > div {
    padding-top: 20px;
}

.contactclient_jsoneditor div[data-schemapath*=".request.body"] > div > div > h3 {
    display: none;
}

.contactclient_jsoneditor div[data-schemapath*=".response.success.definition"] > div > label {
    display: none;
}

.contactclient_jsoneditor td[data-schemapath*=".example"] > div > input {
    background: none;
    border: none;
    padding-left: 0;
    padding-right: 0;
}

@-webkit-keyframes flash {
    0% {
        background-color: Yellow;
        opacity: 1;
    }
    22% {
        background-color: Yellow;
    }
    77% {
        background-color: Red;
    }
    100% {
        background-color: #777;
    }
}

/* Hide these options till the Advanced button is pressed */
.contactclient_jsoneditor:not(.advanced) div[data-schemapath*=".name"],
.contactclient_jsoneditor:not(.advanced) div[data-schemapath*=".description"],
.contactclient_jsoneditor:not(.advanced) td[data-schemapath*=".description"],
.contactclient_jsoneditor:not(.advanced) div[data-schemapath*=".request.method"],
.contactclient_jsoneditor:not(.advanced) div[data-schemapath*=".request.format"],
.contactclient_jsoneditor:not(.advanced) div[data-schemapath*=".request.headers"],
.contactclient_jsoneditor:not(.advanced) div[data-schemapath*=".request.body"] > select,
.contactclient_jsoneditor:not(.advanced) div[data-schemapath*=".request.body"] > div > table > thead > tr > th:nth-child(5),
.contactclient_jsoneditor:not(.advanced) div[data-schemapath*=".request.body"] > div > table > thead > tr > th:nth-child(6),
.contactclient_jsoneditor:not(.advanced) div[data-schemapath*=".request.body"] > div > table > thead > tr > th:nth-child(7),
.contactclient_jsoneditor:not(.advanced) td[data-schemapath*=".test_only"],
.contactclient_jsoneditor:not(.advanced) td[data-schemapath*=".overridable"],
.contactclient_jsoneditor:not(.advanced) div[data-schemapath*=".response.body"] > div > table > thead > tr > th:nth-child(5),
.contactclient_jsoneditor:not(.advanced) div[data-schemapath*=".response.format"],
.contactclient_jsoneditor:not(.advanced) div[data-schemapath*=".response.headers"],
.contactclient_jsoneditor:not(.advanced) div[data-schemapath="root.settings"],
.contactclient_jsoneditor:not(.advanced) .btn-danger {
    display: none !important;
}

/* ContactClient API Payload - CodeMirror */
#contactclient_api_payload_codemirror {
    margin-top: 5px;
}

#contactclient_api_payload_codemirror .CodeMirror {
    border-top-right-radius: 0px;
    border: 0;
}

/* ContactClient API Payload - Advanced button */
#api_payload_buttons {
    margin-bottom: -19px;
    position: relative;
    z-index: 10;
    height: 19px;
    overflow: visible;
}

#api_payload_buttons.affix {
    position: fixed;
    top: 65px;
    right: 1%;
    margin-right: -1px;
}

/* ContactClient Schedule */
#contactclient_schedule_hours_widget div h3 {
    padding-top: 20px;
}

#contactclient_schedule_hours_widget .dayContainer {
    width: 86px;
    height: 150px;
}

#contactclient_schedule_hours_widget .input-group-addon {
    padding: 6px;
}

#contactclient_schedule_hours_widget .operationTime .mini-time {
    width: 52px;
    padding-left: 7px;
    font-size: 13px;
}

#contactclient_schedule_hours_widget .colorBox {
    border: 0;
}

.slider-horizontal {
    max-width: 95%;
    margin-top: .5em;
}

/* jQuery UI Autocompete styling for better appearance within bootstrap. */
ul.bs-autocomplete-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 150px;
    max-height: 200px;
    overflow: auto;
    z-index: 9999;
    border: 1px solid #eeeeee;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.4);
}

ul.bs-autocomplete-menu a {
    font-weight: normal;
    color: #333333;
}

.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.ui-state-active,
.ui-state-focus {
    color: #23527c;
    background-color: #eeeeee;
}

.bs-autocomplete-feedback {
    width: 1.5em;
    height: 1.5em;
    overflow: hidden;
    margin-top: .5em;
    margin-right: .5em;
}
