/* ContactClient API Payload - JSON Editor */
#contactclient_api_payload_jsoneditor h3 {
    font-size: 16px;
    font-weight: 600;
    padding: 0 0 5px 0;
}
#contactclient_api_payload_jsoneditor i.fa {
    font-size: 15px;
}
#contactclient_api_payload_jsoneditor > div > div > div > div > div > div > h3 > span,
#contactclient_api_payload_jsoneditor > div > h3 {
    display: none;
}
#contactclient_api_payload_jsoneditor .btn-group.btn-left {
    margin: 0 0 8px 0;
}
#contactclient_api_payload_jsoneditor .btn-group.btn-left .btn-success {
    border-radius: 3px;
}
#contactclient_api_payload_jsoneditor .btn-group.btn-right {
    position: absolute;
    right: 0;
    margin: 0;
    display: block;
    top: -7px
}
#contactclient_api_payload_jsoneditor > div > .well {
    min-height: 0;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* ContactClient API Payload - Ace Editor */
#contactclient_api_payload_ace {
    margin-top: 5px;
}

/* ContactClient API Payload - Advanced button */
#api_payload_advanced .btn {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: none;
}
/*#api_payload_advanced .btn.active {*/
    /*background-color: #c23a35;*/
    /*border-color: #c23a35;*/
    /*color: #fff;*/
/*}*/
#api_payload_advanced {
    float: right;
    z-index: 10;
    position: relative;
    height: 0;
    margin-bottom: 2px;
    overflow: visible;
}

/* ContactClient Schedule */
#contactclient_schedule_hours_widget div h3 {
    padding-top: 20px;
}

#contactclient_schedule_hours_widget .dayContainer {
    width: 86px;
    height: 150px;
}

#contactclient_schedule_hours_widget .input-group-addon {
    padding: 6px;
}

#contactclient_schedule_hours_widget .operationTime .mini-time {
    width: 52px;
    padding-left: 7px;
    font-size: 13px;
}
#contactclient_schedule_hours_widget .colorBox {
    border: 0;
}

