/* ContactClient API Payload / Filter - QueryBuilder */
.query-builder .rules-group-container {
    padding: 0;
    margin: 0;
    background: transparent;
    border: 1px solid transparent;
}

.query-builder .rules-group-header {
    margin-bottom: 11px;
}

.query-builder .rule-container {
    border: 1px solid transparent;
    background-color: rgba(0, 0, 0, .04);
}

.query-builder .rule-value-container {
    border-left: 0;
    padding-left: 0;
}

.query-builder .rule-value-container input[type=number],
.query-builder .rule-value-container input[type=text],
.query-builder .rule-value-container select {
    padding: 6px 12px;
}

.query-builder .rule-value-container .selectize-input .item {
    display: inline-block;
    margin: -5px 7px -4px -7px;
    font-weight: 600;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #ffffff;
    background-color: #2a84c5;
    border-color: #2a84c5;
    padding: 3px 5px;
    font-size: 13px;
    line-height: 1.356;
    border-radius: 4px;
}

/* ContactClient API Payload - JSON Editor */
#contactclient_api_payload_jsoneditor h3 {
    font-size: 16px;
    font-weight: 600;
    padding: 0 0 5px 0;
}

#contactclient_api_payload_jsoneditor .btn-md i.fa {
    font-size: 15px;
}

#contactclient_api_payload_jsoneditor i.fa-caret-square-o-right,
#contactclient_api_payload_jsoneditor i.fa-caret-square-o-down {
    font-size: 16px;
}

#contactclient_api_payload_jsoneditor .btn-group.btn-left {
    margin-bottom: 8px;
}

/* Hidden nav items in this group cause border radius to look strange */
#contactclient_api_payload_jsoneditor .btn-group.btn-left .btn {
    border-radius: 3px;
}

#contactclient_api_payload_jsoneditor .btn-group.btn-right .btn {
    margin-left: 8px;
    border-radius: 3px;
}

#contactclient_api_payload_jsoneditor .btn-group .btn-secondary {
    background: transparent;
}

#contactclient_api_payload_jsoneditor .btn-group .btn-secondary.active {
    background: transparent;
}

/* Show the expandable headers as clickable */
#contactclient_api_payload_jsoneditor > div > h3 span {
    cursor: pointer;
}

/* Hide the root definition as it'd be a duplicate label in this case. */
#contactclient_api_payload_jsoneditor > div > h3 {
    display: none;
}

#contactclient_api_payload_jsoneditor > div > .well {
    min-height: 0;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#contactclient_api_payload_jsoneditor .well {
    background: rgba(145, 145, 145, .1);
    border: 1px solid rgba(45, 45, 45, .1);
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* Positioning tooltips in tables */
#contactclient_api_payload_jsoneditor td > div > .glyphicon-info-sign.pull-right {
    position: absolute !important;
    top: 50px;
    margin: 0 0 0 -16px;
    height: 0;
}

#contactclient_api_payload_jsoneditor td > div > .glyphicon-info-sign.pull-right:before {
    opacity: 0;
    width: 60px;
}

/* Styling tooltips */
#contactclient_api_payload_jsoneditor .glyphicon-info-sign.pull-right {
    float: none !important;
    margin-left: 5px;
}

#contactclient_api_payload_jsoneditor .glyphicon-info-sign:before {
    content: "\f059";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

#contactclient_api_payload_jsoneditor .glyphicon-info-sign span {
    font-family: "Open Sans", Helvetica, Arial, sans-serif !important;
    z-index: 1000;
    transform: translateX(0.5rem) translateY(-0.5rem) !important;
}

/* Table styles */
#contactclient_api_payload_jsoneditor table.table-bordered {
    min-width: 100%;
    border: 0;
}

#contactclient_api_payload_jsoneditor table.table-bordered,
#contactclient_api_payload_jsoneditor table.table-bordered > thead > tr > th,
#contactclient_api_payload_jsoneditor table.table-bordered > tbody > tr > th,
#contactclient_api_payload_jsoneditor table.table-bordered > tbody > tr > td,
#contactclient_api_payload_jsoneditor table.table-bordered > tfoot > tr > td,
#contactclient_api_payload_jsoneditor table.table-bordered > tfoot > tr > th {
    border-left: 0;
    border-right: 0;
    padding: 4px 4px;
}

#contactclient_api_payload_jsoneditor table .form-group {
    margin-bottom: 0;
}

#contactclient_api_payload_jsoneditor div[data-schemapath*=".response.format"] {
    max-width: 16.66666%;
}

#contactclient_api_payload_jsoneditor div[data-schemapath*=".request.body"] > label {
    font-size: 16px;
    padding-bottom: 5px;
}

#contactclient_api_payload_jsoneditor div[data-schemapath*=".request.body"] > select {
    font-size: 16px;
    font-style: normal !important;
    background-color: #fff !important;
}

#contactclient_api_payload_jsoneditor div[data-schemapath*=".request.body"] > div > div > h3 {
    display: none;
}

#contactclient_api_payload_jsoneditor div[data-schemapath*=".response.success.definition"] > div > label {
    display: none;
}

/* ContactClient API Payload - CodeMirror */
#contactclient_api_payload_codemirror {
    margin-top: 5px;
}

#contactclient_api_payload_codemirror .CodeMirror {
    border-top-right-radius: 0px;
    border: 0;
}

/* ContactClient API Payload - Advanced button */
#api_payload_advanced {
    float: right;
    z-index: 10;
    position: relative;
    height: 19px;
    overflow: visible;
}

#api_payload_advanced .btn.active {
    border-bottom: none;
    background-color: #263238;
    border-color: #263238;
    color: #fff;
}

/* ContactClient Schedule */
#contactclient_schedule_hours_widget div h3 {
    padding-top: 20px;
}

#contactclient_schedule_hours_widget .dayContainer {
    width: 86px;
    height: 150px;
}

#contactclient_schedule_hours_widget .input-group-addon {
    padding: 6px;
}

#contactclient_schedule_hours_widget .operationTime .mini-time {
    width: 52px;
    padding-left: 7px;
    font-size: 13px;
}

#contactclient_schedule_hours_widget .colorBox {
    border: 0;
}

